<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia de Agustín</title>
</head>
<body>
    <h1>Familiares:</h1>  
    <h2>Lista de familiares: </h2>
    <ul>
        {% for familiar in lista_familiares  %}
            <li> Nombre: {{familiar.nombre}}<br> DNI: {{familiar.dni}} <br>FECHA DE NACIMIENTO: {{familiar.nacimiento}}<br><br></li>
        {% endfor %}
        </ul>  
</body>
</html>